.tableView {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
}

.tableView td, .tableView th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tableView tr:nth-child(even){background-color: #f2f2f2;}

.tableView tr:hover {background-color: #ddd;}

.tableView th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}